<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link href="/assets/images/favicon.ico" rel="icon" type="image/x-icon">

  <!-- for Google -->
  <meta name="description" content="{% if page.content %}{{ page.content | strip_html | strip_newlines | truncate: 200 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="{{ page.tags }}" />

  <meta name="author" content="Frederick Ancheta" />
  <meta name="copyright" content="ERA 2015" />

  <!-- for Facebook -->          
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:type" content="article" />
  {% if page.landing-image %}
    <meta property="og:image" content="{{ site.url}}{{ page.landing-image }}" />
  {% else %}
    <meta property="og:image" content="{{ site.url}}/assets/images/me-sippin-coffee.jpg" />
  {% endif %}
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:description" content="{% if page.content %}{{ page.content | strip_html | strip_newlines | truncate: 200 }}{% else %}{{ site.description }}{% endif %}" />

  <!-- for Twitter -->          
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta name="twitter:description" content="{% if page.content %}{{ page.content | strip_html | strip_newlines | truncate: 200 }}{% else %}{{ site.description }}{% endif %}" />
  {% if page.landing-image %}
    <meta name="twitter:image" content="{{ site.url}}{{ page.landing-image }}" />
  {% else %}
    <meta name="twitter:image" content="{{ site.url}}/assets/images/me-sippin-coffee.jpg" />
  {% endif %}
</head>
