.post {
  .post-content {

    img {
      margin: 20px;
      margin-left: 0;
    }

    .centered {
       margin: 0 auto;
       display: block;
    }

    .scaled-down {
      //height: 70%;
      //width: 70%;
    }

    .bordered {
      border: 1px solid #CCC;
    }

  }
}

.post-header {
    margin-top: 20px;
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: $large-font-size * 1.25;

    @include media-query($on-laptop) {
        //font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        @include media-query($on-laptop) {
            //font-size: 28px;
        }
    }

    h3 {
        @include media-query($on-laptop) {
            //font-size: 22px;
        }
    }

    h4 {
        @include media-query($on-laptop) {
            //font-size: 18px;
        }
    }
}
