.post {
  .post-content {

    img {
      margin: 20px;
      margin-left: 0;
    }

    .centered {
       margin: 0 auto;
       display: block;
    }

    .scaled-down {
      height: 50%;
      width: 50%;
    }

    .bordered {
      border: 1px solid #CCC;
    }

  }
}
