.post {
  .post-content {

    img {
      margin: 20px;
      margin-left: 0;
    }

    .centered {
       margin: 0 auto;
       display: block;
    }

    .landing-image {
      width: 400px;
      height: auto;
    }

    .bordered {
      border: 1px solid #CCC;
    }

    .shortened-image {
      height: 300px;
      width: auto;
    }

    table {
      border-collapse: collapse;
    }

    table, th, td {
      border: 1px solid #CCC;
      padding: 5px;
    }
  }
}

.post-header {
    margin-top: 20px;
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: $large-font-size * 1.25;

    @include media-query($on-palm) {
      font-size: $large-font-size;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        @include media-query($on-laptop) {
            //font-size: 28px;
        }
    }

    h3 {
        @include media-query($on-laptop) {
            //font-size: 22px;
        }
    }

    h4 {
        @include media-query($on-laptop) {
            //font-size: 18px;
        }
    }
}
